In [1]:
import pandas as pd

In [3]:
attempt = pd.read_html('https://en.wikipedia.org/wiki/Spider_taxonomy')

In [4]:
type(attempt)

list

In [6]:
len(attempt)

29

In [25]:
attempt[28]

         0                                                  1
0   Plants  Plantae Allium Liliaceae Tulipa Narcissus Orch...
1  Animals  Animalia Gastropoda 2017 2005 1997 Conoidea Bi...