In [1]:
import pandas as pd
import random

local_df = pd.DataFrame(
    {'i': range(120),
     'age': [random.randint(20,80) for _ in range(120)]
    }
)

In [2]:
local_df.head()

   i  age
0  0   60
1  1   74
2  2   43
3  3   70
4  4   74

In [3]:
from sketch import Portfolio

In [4]:
test = Portfolio.from_dataframe(local_df)
result = test.find_joinables(apiKey='8f79be2b6d0d47ccb8192e46f38c80ce')

0.9297  i -- SQLITE:[../datasets/food-trucks.db] TABLE:[Applicant] COL:[id]
0.3438  age -- SQLITE:[../datasets/food-trucks.db] TABLE:[Applicant] COL:[id]
0.3047  i -- SQLITE:[../datasets/food-trucks.db] TABLE:[block] COL:[id]
0.2734  i -- SQLITE:[../datasets/food-trucks.db] TABLE:[Mobile_Food_Facility_Permit_fts_segments] COL:[blockid]
0.1484  i -- SQLITE:[../datasets/food-trucks.db] TABLE:[Mobile_Food_Facility_Permit_fts_docsize] COL:[docid]